<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230123887200-5ocnfrjqdrbdkfi5d5nt80ml75kgp0f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230123887200-5ocnfrjqdrbdkfi5d5nt80ml75kgp0f6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBHw5FjsVblQnXc6IfjF5Eu-dAq0hvel0</string>
	<key>GCM_SENDER_ID</key>
	<string>230123887200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.royalRestoration</string>
	<key>PROJECT_ID</key>
	<string>restoration-c3993</string>
	<key>STORAGE_BUCKET</key>
	<string>restoration-c3993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230123887200:ios:76ce1c08f5aff975d00105</string>
</dict>
</plist>